@import "fonts/stylesheet.css";
@import "./fontawesome.css";
@import "./brands.css";
@import "./solid.css";
/* Var root */
:root {
  --var-to_buy: #3dc47e;
  --var-to_auction: #8f79d4;
  --var-primary: #4592ff;
  --var-light-text: #ffffff;
  --var-social-network: #bcbfc2;
  --var-lighthen-gray: #bcbfc2;
  --var-social-network-text: #d9dadb;
  --var-lighthen-gray-text: #d9dadb;
  --var-nav-top: #ffffff;
  --var-whatsapp: #3dc47e;
  --var-carousel-text: #656b70;
  --var-darken: #4b5157;
  --var-dark: #262d33;
  --var-darken_light: #EDEFF0;
  --var-ligthen: #d9dadb;
  --var-footer: #f5f5f5;
  --var-badge-sea: #c5e4fc;
  --var-light-gray: #939699;
  --var-badge-sea_text: #55839e;
  --var-carousel-item: #ffd980;
}
/* Body  */
body {
  font-family: "Graphik";
}
/* Footer  */
footer {
  width: 100%;
  height: auto;
  background-color: var(--var-footer);
}
/* Nav  */
.navbar {
  width: 100%;
}
.navbar a:hover {
  text-decoration: none;
}
/* #Navbar custom */
.navbar-dark .navbar-brand {
  color: var(--var-nav-top);
  font-size: small;
  font-weight: 500;
  text-transform: uppercase;
}
.nav-top {
  background-color: var(--var-nav-top);
  color: var(--var-dark);
  height: 100px;
}
.nav-top-content {
  background-color: var(--var-nav-top);
  border-radius: 10px;
}
.nav-content_text {
  color: var(--var-lighthen-gray);
}
.nav-footer {
  font-family: "Graphik";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 0.5px solid var(--var-lighten);
}
.nav-footer a {
  color: var(--var-darken);
}
/* nav main content */
.nav-top_main-content {
  background-color: #ffffff;
  width: 100%;
}
.nav-top_main-content a {
  font-size: 20px;
  font-family: "Graphik";
  font-weight: 700;
  color: var(--var-dark);
}
.title-light_darken {
  font-size: 20px;
  font-family: "Graphik";
  font-weight: 400;
}
.jumbotron-top_container {
  background-color: var(--var-darken);
  background-size: cover;
  background-repeat: no-repeat;
  height: 349px;
  width: 100%;
}
.jumbotron-top_container h1 {
  font-size: 55px;
  font-family: "Graphik";
}
.jumbotron-top_container p {
  font-size: 18px;
}
.signin-text {
  font-weight: 700;
}
.main-container {
  background-color: var(--var-nav-top);
}
.mc-card_top {
  border-radius:10px;
  height:169px;
  width:263px;
  font-family: "Graphik";
}
.mc-card_top .card-title {
  font-size:14px;
  width: 100%;
  padding-left:20px;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 0.5px solid var(--var-ligthen);
}
.mc-card_top .card-body {
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mc-card_top .card-title p {
  font-size: 18px;
  margin-bottom: 0rem;
  padding-left:0;
  padding-right:0;
}
.card-body .sm-text_card {
  font-size: 11px;
}
.b-title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.c-all_items {
  width: 100%;
  background-color: var(--var-nav-top);
}
.top-slide {
  height: 555px;
  margin: 0;
}
.carousel-indicators {
  position: absolute;
}
.top-slide .top-slide_carousel-item-a {
  position: absolute;
  margin-left: 115px;
  z-index: 1;
}
.top-slide_carousel-item-b {
}
.top-slide article h1 {
  color: var(--var-light-text);
  font-family: "graphik";
  font-weight: 700;
  text-align: center;
}
.top-slide article h5 {
  color: var(--var-light-text);
}
.top-slide article figure {
  margin-left: 6em;
}
.top-slide .logo_top-slide-sg_falabella {
  margin-top: 50px;
  margin-left: 47px;
}
.top-slide article .date_top-slide-sg_falabella {
  opacity: 0.5;
  margin-left: 30px;
}
.carousel-item_sg-fallabella {
  opacity: 0.9;
  background-color: var(--var-dark);
}
.carousel-text_item_b-top {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.5;
  color: var(--var-carousel-text);
  text-transform: uppercase;
}
.carousel-btn_text-success {
  font-size: 14px;
  font-family: "graphik";
  color: var(--var-light-text);
}
.carousel-btn-look_lote {
  margin-left: 4em;
}
/* img item n° 1 */
.carousel-item-a_imagen {
  opacity: 0.5;
  width: 99.99999%;
}
.carousel-text_item_b {
  font-weight: 700;
  font-size: 25px;
  color: var(--var-dark);
}
.carousel-text_item_b-text {
  color: var(--var-darken);
  font-size: 14px;
}
.text-doc_saga-fallabella {
  font-family: "graphik";
  font-weight: 100;
  opacity: 0.9;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.badge-button_count_slide {
  font-family: "graphik";
  font-weight: 100;
}
.badge-sea {
  background-color: var(--var-badge-sea);
  border-radius: 50%;
  color: var(--var-badge-sea_text);
  font-family: "Graphik-Regular";
  font-weight: 100;
}
.btn-to_auction {
  background-color: var(--var-to_auction);
}
.btn-to_buy {
  background-color: var(--var-to_buy);
}
.text-to_buy {
  color: var(--var-to_buy);
  text-transform: uppercase;
  font-size: 12px;
}
.title-to_annoucement {
  color: var(--var-dark);
}
.title-to_breadcrums {
  color: var(--var-dark);
  font-family: "Graphik";
  font-weight: 500;
}
.title-to_results {
  color: var(--var-light-gray);
  font-family: "Graphik";
}
.text-to_auction {
  color: var(--var-to_auction);
  text-transform: uppercase;
  font-size: 12px;
}
.btn-primary {
  background-color: var(--var-primary);
}
.social-network_footer {
  color: var(--var-social-network);
}
.rss-send_email {
  background-color: var(--var-primary);
  color: var(--var-light-text);
  border-radius: 0px 5px 5px 0px;
}
.social-network_bottom ul li {
  display: flex;
  border-radius: 50%;
  border: 1px solid var(--var-social-network-text);
  width: 40px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.social-network_bottom ul li a {
  color: var(--var-social-network);
}
.social-network_bottom {
  color: var(--var-social-network);
}
.copyright {
  color: var(--var-light-gray);
}
.social-network_whatsapp {
  color: var(--var-light-text);
  background-color: var(--var-whatsapp);
  border-radius: 50%;
}
.social-network_footer i {
  width: 40px;
  height: 40px;
  border: 1px solid var(--var-social-network-text);
  border-radius: 50%;
  opacity: 1;
}
/* Datasheet */
.data_sheet-d {
}
.data_sheet-d .data_sheet-menu {
  border-right: 0.5px solid #656b70;
}
/* Register Form */
.t-rform_top h1 {
  font-family: "Graphik";
}
.t-rform_top_img {
  background-color: var(--var-dark);
  background-image: url("../img/image-083.png");
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  border-radius:14px;
  background-repeat:no-repeat;
}
.checkbox-primary {
  width:12px;
  height:12px;
  color: var(--var-primary);
}
.widgets article {
  display: flex;
  width: 100%;
  height: 225px;
  opacity: 0.95;
  border-radius: 10px;
  fill-opacity: initial;
}
.widgets article img {
  border-radius: 10px;
  opacity: 0.9;
  z-index: -999;
}
.widgets article button {
  position: absolute;
  right: 0;
  bottom: 0;
}
.widgets article h2 {
  position: absolute;
  color: var(--var-light-text);
  display: flex;
  font-family: "Graphik";
  font-weight: bold;
  padding-top: 37px;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
  margin: 0 auto;
}
.widgets article p {
  position: absolute;
  color: var(--var-light-text);
  display: flex;
  font-family: "Graphik";
  font-weight: 400;
  padding-top: 99px;
  text-align: left;
  width: 65.9999999%;
  margin: 0 auto;
}
.widgets article h1 p {
}
.text-shadow {
}
.img-focus {
}
.a {
  background-color: var(--var-dark);
}

@media (min-width: 499px) {
  .mc-card_top {
    width:100%;
  }
}

/* */
.text-darken {
  color: var(--var-darken);
}
.text-light_darken {
  color: var(--var-light-gray);
}
.text-light_dark {
  color: var(--var-lighthen-gray-tex);
}
.bg-darken {
  background-color: var(--var-darken);
}
